# Package
build
dataf.egg-info
dist
.tox
.pytest_cache
.eggs
venv

# Documentation
docs/_build/
docs/_static/
docs/_templates/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
coverage.xml
htmlcov
