# Package
build
dataf.egg-info
dist
.tox
.pytest_cache
.eggs
venv

# Documentation
doc/_build/
doc/_static/
doc/_templates/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
coverage.xml
